.btn {
  background: #7b61ff;
  border-radius: 12px;
  color: #fff;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in;
}

.btn:hover {
  background-color: #6344ff;
}

.btn:active {
  transform: scale(0.9);
}

.btn--search {
  width: 60px;
  height: 60px;
  padding: 18px;
}
.btn--subscribe {
  width: 72px;
  height: 72px;
  padding: 28px;
}

.header__btn {
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.header__btn:hover {
  transform: translateY(-8px);
}

.button-more {
  display: flex;
  align-items: center;
  column-gap: 4px;
  color: #5243C2;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border-radius: 12px;
  background: #F6F4FF;
  height: 44px;
  transition: slideBtn 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

@media (max-width: 600px) {
  .header__btn {
    padding: 12px;
    font-size: 16px;
  }
}

@media (max-width: 460px) {
  .button-more {
    white-space: nowrap;
    font-size: 15px;
    width: 50%;
    justify-content: center;  
  }
}

.button-more:hover {
  background-color: #dcd8f1;
}

.button-more-slide:hover {
  animation: slideBtn 0.9s ease-in-out;
}

.button-more--left:hover {
  animation: slideBtnLeft 0.9s ease-in-out;
}
